---
import Button from './components/button.astro';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <Button text="Primary" type="primary" />
    </body>
</html>